header{
    background-image: url(fonnn.jpg);
}
.header_logo {
    margin-top: 15px;
    width: 270px;
    display: inline-block;
}

.header_logo img{
    height: 70px;
}
.header_info{
    display: inline-block;
    float: right;
    margin-top: 10px;
    width: 300px;
    text-align: center;
}
.header_info img{
    height: 25px;
}
.header_info span{
    font-size: 30px;
}
h2{
    margin-top: 15px;
}
thead {
    background-color: #9fcdff;
}

table {
    border: 1px solid black;
    font-size: 9px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

tr {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

main {
    text-align: center;


}

form {
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    background-color: #9fcdff;
}

button {
    margin: 20px;
    height: 60px;
    width: 170px;
    background-color: #999;
    color: black;
    border-radius: 10px;
}

hr {
    border: solid 1px red;
    margin-bottom: 0px;
}

#submit {
    margin: 15px;
    height: 50px;
    width: 150px;
    background-color: #28a745;
    border-radius: 10px;
}

#delete {
    margin: 15px;
    height: 50px;
    width: 150px;
    background-color: indianred;
    border-radius: 10px;
}

.hid {
    display: none;
}

.col {
    color: red;
}

input {
    border-radius: 5px;
}

span {
    color: red;
}

.delete {
    background-color: red;
}




#container{
    background-color: #e8eded;
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    text-align: center;
}
#container div{
    display: inline-block;
    width: 300px;
    margin: 15px;
}
#foot_container section{
    display: inline-block;
    width: 350px;
    margin: 15px;
}
#foot_container h5{
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
footer span{
    font-size: 30px;
    color: black;
}
section p{
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 0;
}
.num1{
    margin-top:10px;
    margin-bottom:10px;
}
#foot_container{
text-align: center;
    background-color: #595959;
    color: #999;
}
section p:hover{
    color: white;
}







#picture{
padding-bottom: 200px;
}

#picture ul{
    display: flex;
    list-style-type: none;
    padding-top: 100px;
    padding-left: 0px;
    justify-content: center;
    margin-bottom: 0;
    height: 80px;
}
#picture img{
    width: 100px;
    height: 100px;
    margin: 5px;
    transition: all 0.5s ease 0.2s;
    position: relative;
    bottom: 0px;
}
#picture img:hover{
    width: 140px;
    height: 140px;
    transition: all 0.2s ease 0.01s;
    position: relative;
    bottom: 40px;
}
#kurs {
    text-align: center;
    width: 200px;
    margin: auto;
    padding-bottom: 30px;
}